; This is the standard Abiotic Factor Experience
; https://github.com/DFJacob/AbioticFactorDedicatedServer/wiki/Technical-%E2%80%90-Sandbox-Options
[SandboxSettings]
GameDifficulty=1

; World
LootRespawnEnabled=False
PowerSocketsOffAtNight=True
DayNightCycleState=0
DayNightCycleSpeedMultiplier=1.0
WeatherFrequency=3
SinkRefillRate=1.0
FoodSpoilSpeedMultiplier=1.0
RefrigerationEffectivenessMultiplier=1.0
StorageByTag=True
StructuralSupportLimit=5
BridgeSupports=2
HomeWorlds=True

; Enemy
EnemySpawnRate=1.0
EnemyHealthMultiplier=1.0
EnemyPlayerDamageMultiplier=1.0
EnemyDeployableDamageMultiplier=1.0
DetectionSpeedMultiplier=1.0

; Player
DamageToAlliesMultiplier=0.5
HungerSpeedMultiplier=1.0
ThirstSpeedMultiplier=1.0
FatigueSpeedMultiplier=1.0
ContinenceSpeedMultiplier=1.0
PlayerXPGainMultiplier=1.0
ItemStackSizeMultiplier=1.0
ItemWeightMultiplier=1.0
ItemDurabilityMultiplier=1.0
DurabilityLossOnDeathMultiplier=0.1
ShowDeathMessages=True
AllowRecipeSharing=True
AllowPagers=True
AllowTransmog=True
DisableResearchMinigame=False
DeathPenalties=1
FirstTimeStartingWeapon=0
HostAccessPlayerCorpses=True
AllowCharacterReset=True